<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-EDGE" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css" />
</head>
<body>

<!-- LOGIN PRINCIPAL -->
<div class="container">
  <div class="head"><h1>CUSTOMER LOGIN</h1></div>

  <form id="loginForm">
    
    <div class="namelogin">
      <input class="login" type="text" name="username" placeholder="Username" required />
    </div>

    <div class="passlogin">
      <input class="password" type="password" name="password" placeholder="Password" required />
    </div>

 

    <div class="var">
      <a id="openForgot">Forgot Password?</a>
      <a id="openRegister">Register</a>
    </div>

    <div class="button">
      <button class="button-58" type="submit">LOGIN</button>
    </div>
  </form>
</div>

<!-- MODAL: REGISTER -->
<div id="registerModal" class="modal">
  <div class="container">
    <div class="head"><h1>REGISTER</h1></div>

    <form id="registerForm">
      <div class="namelogin">
        <input class="login" type="email" name="email" placeholder="Email" required />
      </div>

      <div class="passlogin">
        <input class="password" type="username" name="username" placeholder="Username" required />
        <div class="passconfirm">
          <input class="password" type="password" name="password" placeholder="Password" required />
        </div>
      </div>

      <div class="button">
        <button class="button-58" type="submit">REGISTER</button>
      </div>

      <a class="back" id="backToLoginFromRegister">Back to Login</a>
    </form>
  </div>
</div>

<!-- MODAL: FORGOT PASSWORD -->
<div id="forgotModal" class="modal">
  <div class="container">
    <div class="head"><h1>RECOVER ACCOUNT</h1></div>

    <form id="forgotForm">
      <div class="namelogin">
        <input class="login" type="email" name="email" placeholder="Email" required />
      </div>

      <div class="button">
        <button class="button-58" type="submit">SEND EMAIL</button>
      </div>

      <a class="back" id="backToLoginFromForgot">Back to Login</a>
    </form>
  </div>
</div>

<script src="../static/js/account.js"></script>
</body>
</html>
